body {
  background-color: aqua;
  margin: 0;
}

.container {
  background-color: grey;
  height: 100vh;
}

.row {
  background-color: orange;
  height: 100vh;
}

.colBox {
  background-color: grey;
  height: 80vh;
  border: 1px solid salmon;
}
